<div class="contents row">
   <div class="content">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @posts.each do |post| %>
  <div class = "table">
       <p><%= post.title %></p>
       <span><%= post.text %></span>
      <span><%= tag.name %></span>
     </div>
  <% end %>
</div>
</div>

