<div class="header">
  <div class="inner-header">
    
    
  </div>
</div>
<div class="main">
  <div class="message-wrap">
    <% @posts.each do |post|%>
      <div class="message">
        <p class="title">

          <%=link_to post.title, "/posts/#{post.id}"%>
        </p>
                   
        <ul class="tag">
          <li class="tag-list">
            <%post.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>

　　　　　　

      </div>
    <%end%>
  </div>

 
</div>